certifi==2021.5.30
cycler==0.10.0
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1630173773255/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1628881755815/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1629092076711/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
pandas==1.3.2
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1630696651849/work
pyparsing==2.4.7
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1628206569514/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1625488906146/work
